body {
    background-color: rgb(157, 160, 160);
}

tentselect {
    display: table;
    position: fixed;
    float: left;
    color: rgb(255, 255, 255);
    padding: 10px;
    top: 10%;
    left: 5px;
    border: 2px solid black;
    z-index: 3;
}

tentoverview {
    z-index: 2;
    background-color: burlywood;
    position: fixed;
    float: left;
    border: 1.5px solid;
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}